.characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(200px, 5vw));
    gap: 24px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}